body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 350px;
    height: 690px;
    border: none;
}

.card-header {
    background-color: #c40000;
    padding: 0;
    text-align: center;
}

.card-header img {
    width: 100%;
    display: block;
}

.divider {
    border: none;
    border-top: 1px solid #dc633c;
    margin: 0;
}

.card-body {
    padding: 20px;
}

.card-body h2 {
    margin: 0 0 20px;
    font-size: 24px;
    font-weight: bold;
}

.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-info li {
    margin-bottom: 15px;
}

.contact-info a {
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color 0.3s;
}

.contact-info a img {
    margin-right: 10px;
    width: 48px; /* Adjusted size */
    height: 48px; /* Adjusted size */
    transition: transform 0.3s;
}

.contact-info a:hover {
    color: #dc633c;
}

.contact-info a:hover img {
    transform: scale(1.2);
}

.phone-icon {
    background-color: white;
    padding: 6px; /* Adjusted padding */
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional: add a slight shadow for depth */
    width: 28px; /* Ensure the icon is within the padding */
    height: 28px;
}

.save-contact {
    background-color: #afa48c;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.save-contact:hover {
    background-color: #afa48c;
    transform: scale(1.05);
}
